/* when using local font */
@font-face {
  font-family: "GoldmanRegular";
  src: local("GoldmanRegular"),
    url("./fonts/Goldman/Goldman-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* when using link font */
* {
  /* font-family: "Roboto", sans-serif; */
  font-family: "GoldmanRegular";
  margin: 0;
  padding: 0;
}
